<html>
  <head>
    <title>SB Stats</title>
    <meta property="og:site_name" content="SBStats">

    <meta property="og:type" content="profile">
    <meta property="og:title" content="<%=player%><% if (typeof profile != 'undefined') {%> - <%=profile%><%}%>">
    <meta property="og:description" content="<% if (typeof description != 'undefined') {%> <%=description%> <%} else {%> <%='This profile is not yet loaded. Try again soon.'%> <%}%>">
    <% if (typeof image != 'undefined') {%>
      <meta property="og:image" content="<%=image%>">
    <%}%>
    
    <link rel='search' type='application/opensearchdescription+xml' title='SB Stats' href='/opensearch.xml' />
    <link href="/css/stats.css" rel="stylesheet" type="text/css" />
    <link href="/css/playerModel.css" rel="stylesheet" type="text/css" />
    <link href="/css/inventory.css" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Quicksand&display=swap" rel="stylesheet">
    <link id="favicon" rel="shortcut icon" type="image/png" href="/img/favicon.png" />
    <img src="/img/items.png" class="itemImg">
    <img src="/img/items.webp" class="itemImg">
  </head>
  <body>
    <!-- nav -->
    <div id="header">
      <link href="/css/header.css" rel="stylesheet" type="text/css" />
      <a id="header-link" href="/">SB Stats</a>
      <div id="header-search">
        <div id="search-type-selector">
          <div id="search-type-selector-selected">User ></div>
          <div class="selector-opt">User</div>
          <div class="selector-opt">Guild</div>
        </div>
        <input id="header-search-text" placeholder="Name" type="text">
        <input id="header-search-button" type="button">
        <span id="header-search-icon">&#9906;</span>
      </div>
      <span id="header-version">v0.1</span>
      <script src="/js/header.js"></script>
      <div id="item-hover">
        <div id="item-hover-header"></div>
        <div id="item-hover-lore"></div>
      </div>
    </div>
    <!-- end nav -->
    <div id="loading" class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
    <div id="playerModel">
      <div id="model-container">
        <div id="model-base" class="model-element">
          <div id="leg-right" class="leg model-element">
            <img draggable="false" class="front face player">
            <img draggable="false" class="back face player">
            <img draggable="false" class="left face player">
            <img draggable="false" class="right face player">
            <img draggable="false" class="bottom face player">
            <img draggable="false" class="top face player">
          </div>
          <div id="leg-left" class="leg model-element">
            <img draggable="false" class="front face player">
            <img draggable="false" class="back face player">
            <img draggable="false"class="left face player">
            <img draggable="false"class="right face player">
            <img draggable="false" class="bottom face player">
            <img draggable="false" class="top face player">
          </div>
          <div id="torso" class="model-element">
            <img draggable="false" class="front face player">
            <img draggable="false" class="back face player">
            <img draggable="false"class="left face player">
            <img draggable="false"class="right face player">
            <img draggable="false" class="bottom face player">
            <img draggable="false" class="top face player">
          </div>
          <div id="head" class="model-element">
            <img draggable="false" class="front face player">
            <img draggable="false" class="back face player">
            <img draggable="false" class="left face player">
            <img draggable="false" class="right face player">
            <img draggable="false" class="bottom face player">
            <img draggable="false" class="top face player">
          </div>
          <div id="arm-right" class="arm model-element">
            <img draggable="false" class="front face player">
            <img draggable="false" class="back face player">
            <img draggable="false"class="left face player">
            <img draggable="false"class="right face player">
            <img draggable="false" class="bottom face player">
            <img draggable="false" class="top face player">
          </div>
          <div id="arm-left" class="arm model-element">
            <img draggable="false" class="front face player">
            <img draggable="false" class="back face player">
            <img draggable="false"class="left face player">
            <img draggable="false"class="right face player">
            <img draggable="false" class="bottom face player">
            <img draggable="false" class="top face player">
          </div>
          <div id="leg-right" class="leg model-element armor">
            <img draggable="false" class="front face armor" src="/img/transparent.png">
            <img draggable="false" class="back face armor" src="/img/transparent.png">
            <img draggable="false" class="left face armor" src="/img/transparent.png">
            <img draggable="false" class="right face armor" src="/img/transparent.png">
            <img draggable="false" class="bottom face armor" src="/img/transparent.png">
            <img draggable="false" class="top face armor" src="/img/transparent.png">
          </div>
          <div id="leg-left" class="leg model-element armor" src="/img/transparent.png">
            <img draggable="false" class="front face armor" src="/img/transparent.png">
            <img draggable="false" class="back face armor" src="/img/transparent.png">
            <img draggable="false"class="left face armor" src="/img/transparent.png">
            <img draggable="false"class="right face armor" src="/img/transparent.png">
            <img draggable="false" class="bottom face armor" src="/img/transparent.png">
            <img draggable="false" class="top face armor" src="/img/transparent.png">
          </div>
          <div id="leg-right" class="leg model-element armor leggings">
            <img draggable="false" class="front face armor" src="/img/transparent.png">
            <img draggable="false" class="back face armor" src="/img/transparent.png">
            <img draggable="false" class="left face armor" src="/img/transparent.png">
            <img draggable="false" class="right face armor" src="/img/transparent.png">
            <img draggable="false" class="bottom face armor" src="/img/transparent.png">
            <img draggable="false" class="top face armor" src="/img/transparent.png">
          </div>
          <div id="leg-left" class="leg model-element armor leggings" src="/img/transparent.png">
            <img draggable="false" class="front face armor" src="/img/transparent.png">
            <img draggable="false" class="back face armor" src="/img/transparent.png">
            <img draggable="false"class="left face armor" src="/img/transparent.png">
            <img draggable="false"class="right face armor" src="/img/transparent.png">
            <img draggable="false" class="bottom face armor" src="/img/transparent.png">
            <img draggable="false" class="top face armor" src="/img/transparent.png">
          </div>
          <div id="torso" class="model-element armor" src="/img/transparent.png">
            <img draggable="false" class="front face armor" src="/img/transparent.png">
            <img draggable="false" class="back face armor" src="/img/transparent.png"> 
            <img draggable="false"class="left face armor" src="/img/transparent.png">
            <img draggable="false"class="right face armor" src="/img/transparent.png">
            <img draggable="false" class="bottom face armor" src="/img/transparent.png">
            <img draggable="false" class="top face armor" src="/img/transparent.png">
          </div>
          <div id="torso" class="model-element armor leggings" src="/img/transparent.png">
            <img draggable="false" class="front face armor" src="/img/transparent.png">
            <img draggable="false" class="back face armor" src="/img/transparent.png"> 
            <img draggable="false"class="left face armor" src="/img/transparent.png">
            <img draggable="false"class="right face armor" src="/img/transparent.png">
            <img draggable="false" class="bottom face armor" src="/img/transparent.png">
            <img draggable="false" class="top face armor" src="/img/transparent.png">
          </div>
          <div id="head" class="model-element armor">
            <img draggable="false" class="front face armor" src="/img/transparent.png">
            <img draggable="false" class="back face armor" src="/img/transparent.png">
            <img draggable="false" class="left face armor" src="/img/transparent.png">
            <img draggable="false" class="right face armor" src="/img/transparent.png">
            <img draggable="false" class="bottom face armor" src="/img/transparent.png">
            <img draggable="false" class="top face armor" src="/img/transparent.png">
          </div>
          <div id="arm-right" class="arm model-element armor" src="/img/transparent.png">
            <img draggable="false" class="front face armor" src="/img/transparent.png">
            <img draggable="false" class="back face armor" src="/img/transparent.png">
            <img draggable="false"class="left face armor" src="/img/transparent.png">
            <img draggable="false"class="right face armor" src="/img/transparent.png">
            <img draggable="false" class="bottom face armor" src="/img/transparent.png">
            <img draggable="false" class="top face armor" src="/img/transparent.png">
          </div>
          <div id="arm-left" class="arm model-element armor">
            <img draggable="false" class="front face armor" src="/img/transparent.png">
            <img draggable="false" class="back face armor" src="/img/transparent.png">
            <img draggable="false"class="left face armor" src="/img/transparent.png">
            <img draggable="false"class="right face armor" src="/img/transparent.png">
            <img draggable="false" class="bottom face armor" src="/img/transparent.png">
            <img draggable="false" class="top face armor" src="/img/transparent.png">
          </div>
          <div id="pet" class="model-element">
            <img draggable="false" class="front face">
            <img draggable="false" class="back face">
            <img draggable="false" class="left face">
            <img draggable="false" class="right face">
            <img draggable="false" class="bottom face">
            <img draggable="false" class="top face">
          </div>
        </div>
      </div>
    </div>
    <div id="content" style="display:none">
      <div id="stats" class="section">
        <div class="section-label full"><span id="playerName"></span> - <span id="profileName"></span></div>
        <div id="stats-text"></div>
      </div>
      <div id="skills" class="section">
        <div class="section-label">Skills</div>
      </div>
      <div id="armor" class="section">
        <div class="section-label full">Armor</div>
        <div id="armor-inv"></div>
      </div>
      <div id="wardrobe" class="section">
        <div class="section-label">Wardrobe</div>
      </div>
      <div id="inventories" class="section">
        <div class="section-label">Inventories</div>
          <div id="labels"></div>
          <div id="inv-view-container"></div>
      </div>
      <div id="pets" class="section">
        <div class="section-label">Pets</div>
      </div>
      <div id="combat" class="section">
        <div class="section-label">Combat</div>
      </div>
      <div id="slayer" class="section">
        <div id="slayer-total"></div>
        <div class="section-label">Slayer</div>
        <div id="slayer-grid"></div>
      </div>
    <div id="minions" class="section">
      <div class="section-label">Minions</div>
      <div id="minion-extra"></div>
      <div id="minion-table"></div>
      <div id="minion-upgrades"></div>
    </div>
    <script src="/js/stats/constants.js"></script>
    <script src="/js/stats/util.js"></script>
    <script src="/js/stats/3d-css.js"></script>
    <script src="/js/stats/hover.js"></script>
    <script src="/js/stats/skills.js"></script>
    <script src="/js/stats/inventories.js"></script>
    <script src="/js/stats/pets.js"></script>
    <script src="/js/stats/slayer.js"></script>
    <script src="/js/stats/combat.js"></script>
    <script src="/js/stats/minions.js"></script>
    <script src="/js/stats/optimizer.js"></script>
    <script src="/js/stats/index.js"></script>
  </body>
</html>